---

---

<section class="w-full bg-blue-600 text-center">
    <div class="max-w-7xl mx-auto py-16 px-4 flex flex-col items-center gap-6 text-gray-50">
        <h3 class="text-3xl font-bold">Ready to Take Your Business to the Next Level?</h3>
        <p class="text-lg">
            Let’s build a powerful online presence with tailored SEO, web development, and marketing strategies.
        </p>
        <button class="bg-blue-700 w-fit px-8 py-2 rounded-md cursor-pointer font-bold text-xl hover:bg-blue-800">Get a Free Quote</button>
    </div>
</section>