---

---

<section class="w-full bg-blue-600 text-center">
    <div class="max-w-7xl mx-auto py-16 px-4 flex items-center justify-center gap-6 text-gray-50">
        <svg class="hidden md:block" width="42" height="58" viewBox="0 0 42 58" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.7708 7.92761L34.214 19.2376C37.3353 20.7407 41.4056 13.5126 38.3807 12.0611L14.9375 0.751116C11.8162 -0.75197 7.74589 6.4761 10.7708 7.92761Z" fill="#F8CC6C"/>
            <path d="M2.45303 38.2845L34.8597 36.2288C38.0923 36.0225 41.1839 28.426 37.729 28.647L5.32226 30.7027C2.08974 30.909 -1.00191 38.5055 2.45303 38.2845Z" fill="#F8CC6C"/>
            <path d="M22.2704 57.301L38.3515 53.6317C41.3838 52.9391 43.9046 45.2321 39.7675 46.1752L23.6864 49.8445C20.6541 50.5371 18.1333 58.2441 22.2704 57.301Z" fill="#F8CC6C"/>
        </svg>
        <div class="flex flex-col items-center gap-6">
            <h3 class="text-2xl font-bold">Ready to Take Your Business to the Next Level?</h3>
            <p class="text-lg max-w-2xl font-light">
                Let’s build a powerful online presence with tailored SEO, web development, and marketing strategies.
            </p>
            <button class="bg-blue-700 w-fit px-8 py-2 rounded-md cursor-pointer text-lg hover:bg-blue-800">Get a Free Quote</button>
        </div>
        <svg class="hidden md:block" width="52" height="59" viewBox="0 0 52 59" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.68133 15.7444L38.5297 8.29793C41.5547 7.56653 43.4904 -0.260035 39.2988 0.748398L8.45039 8.19484C5.42542 8.92624 3.48969 16.7528 7.68133 15.7444Z" fill="#F8CC6C"/>
            <path d="M8.57217 32.121H30.9849C34.2322 32.121 37.4203 24.5392 33.8541 24.5392H11.4414C8.19407 24.5392 5.00601 32.121 8.57217 32.121Z" fill="#F8CC6C"/>
            <path d="M1.67812 47.2501L47.1854 58.899C50.24 59.68 53.7764 52.2677 50.0546 51.3173L4.54734 39.6684C1.49277 38.8874 -2.04372 46.2996 1.67812 47.2501Z" fill="#F8CC6C"/>
        </svg>
    </div>
</section>