---
import { Image } from 'astro:assets';
import CoverImg from '../assets/images/cover.svg';
---

<main class="w-full min-h-dvh flex items-center justify-center px-4 bg-gray-50 dark:bg-gray-900">
    <div class="w-full min-h-dvh md:px-20 pt-20 md:pt-0 grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="flex flex-col gap-4 justify-center md:items-start items-center text-center md:text-left">
            <h1 class="text-5xl font-semibold font-inter text-gray-900 dark:text-white">Digital Solutions for a Stronger Online Presence</h1>
            <h2 class="text-2xl font-inter text-gray-600 dark:text-gray-300">Smart strategies, optimized websites, and marketing that drive growth.</h2>
            <a class="px-8 py-2 bg-blue-600 dark:bg-blue-500 dark:hover:bg-blue-600 hover:bg-blue-700 font-inter text-lg text-white rounded-md shadow-md font-semibold transition-colors duration-300" href="#">Get Started</a>
        </div>
        <div class="flex justify-center items-center">
            <Image src={CoverImg} alt="Cover Image" width="600" height="400"/>
        </div>
    </div>
</main>